<ion-header>
  <ion-toolbar color="primary" no-border>
    <ion-title>
      Swagger Generator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
        <form [formGroup]="fileForm" novalidate>
          <ion-item>
            <ion-label>Charge JSON</ion-label>
            <input type="file" accept=".json" (change)="chargeJson($event)" />
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>

        <ion-card>

          <ion-card-content>
            <form class="app-home-form" [formGroup]="todo" (ngSubmit)="logForm()">
              <ion-item>
                <ion-label>Description</ion-label>
                <ion-textarea formControlName="description"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label>Version</ion-label>
                <ion-input type="text" formControlName="version"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Name API</ion-label>
                <ion-input type="text" formControlName="nameApi"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Host</ion-label>
                <ion-input type="text" formControlName="host"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Schema</ion-label>
                <ion-input type="text" formControlName="schema"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Enviroment URI</ion-label>
                <ion-input type="text" formControlName="envUri"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Path</ion-label>
                <ion-input type="text" formControlName="path"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Method Name</ion-label>
                <ion-input type="text" formControlName="methodName"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Method Type</ion-label>
                <ion-select formControlName="methodType">
                  <ion-select-option value="get">GET</ion-select-option>
                  <ion-select-option value="post">POST</ion-select-option>
                  <ion-select-option value="delete">DELETE</ion-select-option>
                  <ion-select-option value="put">PUT</ion-select-option>
                  <ion-select-option value="patch">PATCH</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-button (click)="addMethod()" color="primary">Add method</ion-button>
              <ion-item>
                <ion-label>Resume</ion-label>
                <ion-input type="text" formControlName="resume"></ion-input>
              </ion-item>
              <ion-item>
                <ion-radio-group formControlName="format">
                  <ion-item>
                    <ion-label>JSON</ion-label>
                    <ion-radio  slot="start" value="json" checked></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>YAML</ion-label>
                    <ion-radio slot="start" value="yaml"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-item>


              <ion-button color="primary" type="submit" [disabled]="!todo.valid">clipboard</ion-button>
            </form>
          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
        <h3>resources</h3>
        <ion-button (click)="clearAll()" color="primary">clear all</ion-button>
        <div *ngFor="let item of methods | keyvalue">
          <ion-card *ngFor="let method of item.value | keyvalue">
            <ion-card-content>
              <ion-chip class="{{method.key}}">
                <ion-label color="primary" >{{ method.key  | uppercase}}</ion-label>
              </ion-chip>
              <ion-label>{{ item.key }}</ion-label>
              <ion-button (click)="deleteMethod(item.key, method.key)" color="primary">remove</ion-button>
              <ion-button (click)="editMethod(item.key, method.key)" color="primary">edit</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
